@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

html,
body {
  /* border-box calculates width and height including the border and padding */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Libre Caslon Display', serif;

  background-color: #ffc7c7;
}

button {
  font-family: 'Libre Caslon Display', serif;
}

body > h1 {
  font-size: 56px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.art-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2 * 25vw);
  height: 100%;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40vh;
  border: 4px #a7902e solid;
  background: #d4af37;
  padding: 10px 8px;
  /* Center the image vertically */
  margin-top: 30vh;
  margin-bottom: 30vh;
}

.art-work {
  /* Position relative to make svg be contained inside the box using absolute */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  position: relative;
  border: 3px #a7902e solid;
  width: 100%;
  height: 100%;
  background-color: white;
}

#ball {
  transition: all 3s ease-in;
}

.art-work:hover #ball {
  cx: calc(100% + 30px);
}

#bot-rect {
  transform: translateY(25px);
}
#top-rect {
  transform: translateY(-25px);
}

.title-tag {
  text-align: center;
  margin-top: 40px;
  border: 2px solid #a7902e;
  background-color: #d4af37;
  align-self: center;
  width: 40%;
}

.big-btn {
  display: block;
  width: 400px;
  height: 45px;

  font-size: 28px;
  font-weight: 500;

  margin-top: 50px;
  margin-bottom: 50px;

  background-color: #ee7676;
  border: none;
  border-bottom: #9b4949 2px solid;
}

.big-btn:hover {
  background-color: #e59595;
}

.doc {
  display: none;
  align-content: center;
  justify-items: center;
  width: calc(100% - 2 * 25vw);
  margin: 0 25vw;

  font-size: 28px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  width: 100%;
}

.grid-wrapper > h2 {
  grid-column: 1/3;
  text-align: center;
}

.grid-wrapper h3 {
  text-align: center;
}

.grid-two-clm {
  grid-column: 1/3;
}
